<h1> Welcome to your dashboard </h1>
<% if @user.photo != nil %>
  <%= image_tag @user.photo.url(:thumb) %><br>
<% end %>
<%= link_to "Edit Profile", profile_path(@profile), :class => "btn btn-default btn-sm"%>
