<%= content_for(:title, "Landing Page") %>
<div class="call-to-action">
  <div class="jumbotron">
     <h1> Have you ever wanted to change the world? </h1>
      <h3> Charity infinity strives to utilize the power of crowd sourcing in order </h3>
  </div>
</div>

<div class="first">
  <div class="jumbotron">
     <h1> Our Process </h1>
      <h3> Here is a ton of info about our company. This is the public facing page. </h3>
  </div>
</div>

<div class="second">
  <div class="jumbotron">
     <h1> Who we help </h1>
      <h3> Here is a ton of info about our company. This is the public facing page. </h3>
  </div>
</div>

<div class="third">
  <div class="jumbotron">
     <h1> Analytics </h1>
      <h3> Here is a ton of info about our company. This is the public facing page. </h3>
  </div>
</div>

<div class="join">
  <div class="jumbotron">
      <%= link_to "Join Now", new_user_registration_path, :class => "btn btn-info btn-lg" %>
  </div>
</div>

<div class="footer">
  <div class="jumbotron">
     <h1> Analytics </h1>
      <h3> Here is a ton of info about our company. This is the public facing page. </h3>
  </div>
</div>
