<h1> You have reached the profile show page </h1>

<h3> Display profile info below for <%= @profile.name %></h3>

<%= link_to "Edit Profile", edit_profile_path(@profile), :class => "btn btn-default btn-sm"%>
<%= link_to "Dashboard", dashboard_path, :class => "btn btn-default btn-sm" %>
