<header class="navigation">
  <div class="menu-wrapper">
    <a href="javascript:void(0)" class="logo">
      <span>Infinity</span>
    </a>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="sign-up"><%= link_to "Sign Up", new_user_registration_path %></li>
        <li class="sign-in"><%= link_to "Login", new_user_session_path %></li>
      </ul>
    </div>
  </div>
</header>